{% extends "base_generic.html" %}

{% block content %}
    <h1>Car model: {{ car.carModel }}</h1>
    <p><strong>Brand:</strong> <a href="{{car.brand.get_absolute_url}}">{{ car.brand }}</a></p>
    <img src = "{{car.image.path}}" alt="picture support is not implemented and won't be in near time" style="height: 30%; width: 50%;">
    <p><strong>Body Style: </strong>{{car.bodyStyle.all|join:" "}}</p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Examples:</h4>
        <div class="card-deck">
        {% for inst in car.carinstance_set.all %}
            <div class="card" style="max-width: 25%;">
                {% load static %}
                <img class="card-img"
                     src="{% static 'img/kinda_logo.png' %}" 
                     alt="Ye be logo">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="padding: 0 0 0 0;">
                            <p class="{% if inst.status == 'a' %}text-success{% elif inst.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
                                {{inst.get_status_display}}
                            </p>
                        </li>
                        <li class="list-group-item"  style="padding: 0 0 0 0;">
                            {% if inst.status != 'a' %}
                                <p><strong>Will be available: </strong>{{inst.due_back}}</p>
                            {%endif%}
                        </li>
                        <li class="list-group-item" style="padding: 0 0 0 0;">
                            <p><strong>Year: </strong>{{inst.year}}</p>
                        </li>
                        <li class="list-group-item"  style="padding: 0 0 0 0;">
                            <p><strong>Color: </strong>{{inst.color}}</p>
                        </li>
                        <li class="list-group-item"  style="padding: 0 0 0 0;">
                            <p><strong>Registration plate: </strong>{{inst.plate}}</p>
                        </li>
                        <li class="list-group-item"  style="padding: 0 0 0 0;">
                            <p class="text-muted"><small><strong>ID:</strong>{{inst.id}}</small></p>
                        </li>
                    </ul>
                </div>
            </div>
        {%endfor%}
        </div>
    </div>
{%endblock%}
